{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://sandbox-api.immodvisor.dev",
            "description": "Sandbox server"
        },
        {
            "url": "https://api.immodvisor.com",
            "description": "Production server"
        }
    ],
    "info": {
        "title": "API Immodvisor",
        "description": "## Terms of use\nThe terms of use gather all the rules to follow to use the Immodvisor API.\n## Technical side\nYour API key and the grains of salt of the checksums must remain secret, they represent your private parameters. It is strictly forbidden to communicate them to third parties. For security reasons, if one of these rules is not respected, we would be forced to deactivate your API key.\n## Advices\nIt is strongly recommended to use cache if you are using the API to display your rating and reviews on your site. This will ensure that the display of your page does not depend on the API responses and therefore does not affect its display time.\n## Display the notices on your media\n### On your website:\nYou must clearly display the source of the reviews, namely Immodvisor. Thus, the Immodvisor logo or the seal of trust must clearly appear on the page displaying the reviews, with a link in the href, scanned by search engines, and pointing to the company file of the Immodvisor site. This point is essential for search engines to make the link between the 2 pages, and avoid duplication of content. The review pages of your site must be validated by our marketing department before going into production. You must also display a textual mention indicating that the reviews come from the Immodvisor site. \n\nOur marketing department can be reached at 09 81 10 75 88 or by email at assistance@Immodvisor.com\n### On other communication supports:\nYou must always display the Immodvisor logo and indicate that the reviews are from the Immodvisor solution. \n## Display Rich Snippets in google results on your url\nRich Snippets give the promise to the internet user to be able to read reviews. Any page displaying Rich Snippets in google must display the stars, as well as a link to the company's Immodvisor page. All these elements must match. For example, you can display the Rich Snippets of the company on the home page, and the Rich Snippets of each agency on your respective agency pages.\nStrong recommendation: a given Rich Snippet should only be placed on one and only one web page.\nGood to know: Rich Snippets tell Google's search engine a rating related to a web page. Google decides whether or not displaying the note in its search results is relevant to your web page. Immodvisor cannot influence Google's willingness to display or not the indicators sent by your site.\n## Checksum\nFor each call to the API, a checksum must be sent. This checksum is calculated as follows: \n\nConcatenation of the following values, all formatted in SHA1 : \n* apikey\n* values of the sent fields, formatted in JSON if it is an array or an object\n* checksum_salt_in\n\n### PHP code example\n```PHP\nprivate function calcChecksumIn($api_key, $checksum_salt_in, $datas = array())\n    {\n        $checksum = \"\";\n        $checksum .= $api_key;\n        foreach ($datas as $k => $v) {\n            if (is_array($v) || is_object($v)) {\n                $v = json_encode($v, JSON_UNESCAPED_SLASHES | JSON_UNESCAPED_UNICODE);\n            } elseif ($v === true) {\n                $v = 1;\n            } elseif ($v === false) {\n                $v = 0;\n            }\n            $checksum .= $v;\n        }\n        $checksum .= $checksum_salt_in;\n        return sha1($checksum);\n    }\n  ```\n",
        "version": "1.11.0",
        "contact": {
            "name": "Support",
            "email": "assistance@Immodvisor.com"
        }
    },
    "security": [
        {
            "apikey": []
        }
    ],
    "tags": [
        {
            "name": "company",
            "description": "company informations"
        },
        {
            "name": "pro",
            "description": "management of the company's employees"
        },
        {
            "name": "review",
            "description": "management of reviews"
        },
        {
            "name": "team",
            "description": "management of teams"
        },
        {
            "name": "google",
            "description": "management of reviews Google"
        },
        {
            "name": "folder",
            "description": "management of folders"
        },
        {
            "name": "highlight",
            "description": "management of questionnaires"
        },
        {
            "name": "activity",
            "description": "management of company activities"
        },
        {
            "name": "utils",
            "description": "endpoint utilities"
        }
    ],
    "components": {
        "securitySchemes": {
            "apikey": {
                "type": "apiKey",
                "in": "header",
                "name": "APIKEY"
            }
        },
        "schemas": {
            "pro": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Pro's Immodvisor's unique ID."
                    },
                    "custom_id": {
                        "type": "string",
                        "description": "your's unique identifier"
                    },
                    "email": {
                        "type": "string",
                        "description": "e-mail pro, use for login"
                    },
                    "enable": {
                        "type": "boolean",
                        "description": "pro's account activation status"
                    },
                    "firstname": {
                        "type": "string",
                        "description": "firstname"
                    },
                    "lastname": {
                        "type": "string",
                        "description": "lastname"
                    },
                    "job": {
                        "type": "string",
                        "description": "job"
                    },
                    "address": {
                        "type": "object",
                        "properties": {
                            "address": {
                                "type": "string",
                                "description": "mailing address"
                            },
                            "address2": {
                                "type": "string",
                                "description": "additional address"
                            },
                            "zipcode": {
                                "type": "string",
                                "description": "zipcode"
                            },
                            "city": {
                                "type": "string",
                                "description": "city"
                            }
                        }
                    },
                    "contact": {
                        "type": "object",
                        "properties": {
                            "phone": {
                                "type": "string",
                                "description": "phone number"
                            },
                            "mobile": {
                                "type": "string",
                                "description": "mobile phone"
                            }
                        }
                    },
                    "language": {
                        "type": "string",
                        "description": "language (ISO code 639-1)"
                    },
                    "date_last_connect": {
                        "type": "string",
                        "description": "last login date"
                    },
                    "aapp_date_last_connect": {
                        "type": "string",
                        "description": "date of last login to the application"
                    },
                    "date_last_update_password": {
                        "type": "string",
                        "description": "date of last password change"
                    },
                    "date_create": {
                        "type": "string",
                        "description": "creation date"
                    },
                    "created_by": {
                        "type": "string",
                        "description": "place where the professional was created"
                    },
                    "date_update": {
                        "type": "string",
                        "description": "modification date"
                    },
                    "acls": {
                        "type": "object",
                        "properties": {
                            "app": {
                                "type": "boolean",
                                "description": "access authorization to the Immodvisor PRO application"
                            },
                            "pro": {
                                "type": "boolean",
                                "description": "access authorization to the PRO area"
                            }
                        }
                    },
                    "companies": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "description": "ID of the company associated"
                                }
                            }
                        }
                    }
                }
            },
            "review": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "unique Immodvisor ID of the review"
                    },
                    "id_company": {
                        "type": "integer",
                        "description": "Immodvisor company ID"
                    },
                    "company_custom_id": {
                        "type": "string",
                        "description": "your company id reference"
                    },
                    "custom_ref": {
                        "type": "string",
                        "description": "your reference"
                    },
                    "id_pro": {
                        "type": "string",
                        "description": "Immodvisor pro ID"
                    },
                    "rating": {
                        "type": "number",
                        "description": "score out of 5"
                    },
                    "lang": {
                        "type": "string",
                        "description": "lang of the review"
                    },
                    "title": {
                        "type": "string",
                        "description": "title of the review"
                    },
                    "description": {
                        "type": "string",
                        "description": "text of the review"
                    },
                    "date": {
                        "type": "string",
                        "format": "datetime",
                        "description": "date of validation of the review"
                    },
                    "last_update": {
                        "type": "string",
                        "format": "datetime",
                        "description": "date of last modification of the review"
                    },
                    "deposit_date": {
                        "type": "string",
                        "format": "datetime",
                        "description": "date of submission of the review"
                    },
                    "need_name": {
                        "type": "string",
                        "description": "experience - e.g.: purchase, rental, ...\n"
                    },
                    "recommended": {
                        "type": "boolean",
                        "description": "pro recommended to a friend"
                    },
                    "picking": {
                        "type": "string",
                        "description": "picking status"
                    },
                    "answer": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "answer identifier"
                            },
                            "text": {
                                "type": "string",
                                "nullable": true,
                                "description": "text of the answer"
                            },
                            "job": {
                                "type": "string",
                                "nullable": true,
                                "description": "job of the person who answered"
                            },
                            "signature": {
                                "type": "string",
                                "nullable": true,
                                "description": "name of the person who answered"
                            },
                            "date": {
                                "type": "string",
                                "format": "datetime",
                                "nullable": true,
                                "description": "date of the answer"
                            }
                        }
                    },
                    "user": {
                        "type": "object",
                        "properties": {
                            "login": {
                                "type": "string",
                                "description": "depositor's nickname"
                            },
                            "color": {
                                "type": "string",
                                "description": "nickname color"
                            },
                            "email": {
                                "type": "string",
                                "description": "e-mail from the depository"
                            },
                            "mobile": {
                                "type": "string",
                                "description": "mobile number of the depository"
                            }
                        }
                    },
                    "pro": {
                        "type": "object",
                        "properties": {
                            "email": {
                                "type": "string",
                                "description": "professional's email"
                            }
                        }
                    },
                    "exp": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "name of the experience associated with the review, example : housing delivered\n"
                            },
                            "date": {
                                "type": "string",
                                "description": "date of the experience (MM/YYYY)"
                            }
                        }
                    },
                    "highlight": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer",
                                "description": "highlight identifier"
                            },
                            "number": {
                                "type": "integer",
                                "description": "number of the personalized questionnaire"
                            },
                            "name": {
                                "type": "string",
                                "description": "name of personalized questionnaire"
                            }
                        }
                    },
                    "criterions": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "description": "criterion identifier"
                                },
                                "rating": {
                                    "type": "integer",
                                    "description": "rating assigned by the depository"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "name of the criterion"
                                }
                            }
                        }
                    },
                    "folder": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer",
                                "description": "Folder's identifier."
                            },
                            "reference": {
                                "type": "string",
                                "description": "your Folder's reference"
                            }
                        }
                    }
                }
            },
            "answer": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "answer identifier"
                    },
                    "review_id": {
                        "type": "string",
                        "description": "answer review identifier"
                    },
                    "text": {
                        "type": "string",
                        "nullable": true,
                        "description": "text of the answer"
                    },
                    "signature": {
                        "type": "string",
                        "nullable": true,
                        "description": "name of the person who answered"
                    },
                    "job": {
                        "type": "string",
                        "nullable": true,
                        "description": "job of the person who answered"
                    },
                    "date": {
                        "type": "string",
                        "format": "datetime",
                        "nullable": true,
                        "description": "date of the answer"
                    }
                }
            },
            "google_review": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "unique Immodvisor ID of the review"
                    },
                    "id_company": {
                        "type": "integer",
                        "description": "Immodvisor company ID"
                    },
                    "rating": {
                        "type": "number",
                        "description": "score out of 5"
                    },
                    "title": {
                        "type": "string",
                        "description": "title of the review"
                    },
                    "description": {
                        "type": "string",
                        "description": "text of the review"
                    },
                    "date": {
                        "type": "string",
                        "format": "datetime",
                        "description": "date of validation of the review"
                    },
                    "answer": {
                        "type": "object",
                        "properties": {
                            "text": {
                                "type": "string",
                                "description": "text of the answer"
                            },
                            "date": {
                                "type": "string",
                                "format": "datetime",
                                "description": "date of answer"
                            }
                        }
                    },
                    "user": {
                        "type": "object",
                        "properties": {
                            "login": {
                                "type": "string",
                                "description": "depositor's nickname"
                            }
                        }
                    }
                }
            },
            "team": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "unique Immodvisor ID"
                    },
                    "custom_id": {
                        "type": "string",
                        "description": "your unique ID"
                    },
                    "company_id": {
                        "type": "integer",
                        "description": "Immodvisor company ID"
                    },
                    "company_custom_id": {
                        "type": "string",
                        "description": "your company ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "team name"
                    },
                    "nbr_pros": {
                        "type": "integer",
                        "description": "number of pros related to the team"
                    },
                    "pros": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "description": "ID Immodvisor of the pro linked to the team"
                                },
                                "custom_id": {
                                    "type": "string",
                                    "description": "your pro ID"
                                }
                            }
                        }
                    }
                }
            },
            "folder": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "unique Immodvisor ID of the folder"
                    },
                    "company_id": {
                        "type": "integer",
                        "description": "Immodvisor company ID"
                    },
                    "company_custom_id": {
                        "type": "string",
                        "description": "your company ID"
                    },
                    "reference": {
                        "type": "string",
                        "description": "your reference"
                    },
                    "status": {
                        "type": "string",
                        "description": "Folder's state",
                        "enum": [
                            "in progress",
                            "completed"
                        ]
                    },
                    "name": {
                        "type": "string",
                        "description": "folder's name"
                    },
                    "start_date": {
                        "type": "string",
                        "description": "Folder's launch date (MM/YYYY)"
                    },
                    "end_date": {
                        "type": "string",
                        "description": "Folder's closing date (MM/YYYY)"
                    }
                }
            },
            "highlight": {
                "type": "object",
                "properties": {
                    "number": {
                        "type": "integer",
                        "description": "number of the personalized questionnaire"
                    },
                    "id_company": {
                        "type": "integer",
                        "description": "Immodvisor company ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "name of the custom questionnaire"
                    },
                    "activity": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer",
                                "description": "ID Immodvisor of the activity"
                            },
                            "name": {
                                "type": "string",
                                "description": "activity name"
                            }
                        }
                    }
                }
            },
            "address": {
                "type": "object",
                "properties": {
                    "department": {
                        "type": "string",
                        "description": "Department's code."
                    },
                    "address": {
                        "type": "string",
                        "description": "mailing address"
                    },
                    "address2": {
                        "type": "string",
                        "description": "additional address"
                    },
                    "zipcode": {
                        "type": "string",
                        "description": "zipcode"
                    },
                    "city": {
                        "type": "string",
                        "description": "city"
                    },
                    "hide_city": {
                        "type": "boolean",
                        "description": "if true, the company city will not be visible on immodvisor.com"
                    },
                    "hide_address": {
                        "type": "boolean",
                        "description": "if true, the company address will not be visible on immodvisor.com"
                    }
                }
            },
            "contact": {
                "type": "object",
                "description": "company's contact information",
                "properties": {
                    "email": {
                        "type": "string",
                        "description": "contact's email address"
                    },
                    "phone": {
                        "type": "string",
                        "description": "contact's phone"
                    },
                    "fax": {
                        "type": "string",
                        "description": "company's fax"
                    },
                    "website": {
                        "type": "string",
                        "description": "Company's url"
                    }
                }
            },
            "widget": {
                "type": "object",
                "description": "login to the company's widget",
                "properties": {
                    "key": {
                        "type": "string",
                        "description": "widget's api key"
                    },
                    "hash": {
                        "type": "string",
                        "description": "Widget's hash"
                    },
                    "domains": {
                        "type": "array",
                        "description": "list of domains authorized to display them",
                        "items": {
                            "type": "string",
                            "description": "area authorized to display them"
                        }
                    }
                }
            },
            "service": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "service's id"
                    },
                    "id_activity": {
                        "type": "integer",
                        "description": "activity's id",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "description": "service's name"
                    }
                }
            },
            "activity": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "activity's id"
                    },
                    "name": {
                        "type": "string",
                        "description": "activity's name"
                    },
                    "services": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/service"
                        }
                    },
                    "attributes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/attribute"
                        }
                    }
                }
            },
            "attribute": {
                "type": "object",
                "properties": {
                    "attributeId": {
                        "type": "string",
                        "description": "attribute's Id"
                    },
                    "groupDisplayName": {
                        "type": "string",
                        "description": "Grouping attribute's name"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "Name to display"
                    },
                    "valueType": {
                        "type": "string",
                        "description": "value's type",
                        "enum": [
                            "BOOL",
                            "URL",
                            "ENUL",
                            "REPEATED_ENUM"
                        ]
                    },
                    "isRepeatable": {
                        "type": "boolean",
                        "description": "If attribute is repeatable"
                    },
                    "values": {
                        "type": "array",
                        "nullable": true,
                        "description": "Possible values list for the types ENUM and REPEATED_ENUM",
                        "items": {
                            "type": "object",
                            "properties": {
                                "displayName": {
                                    "type": "string",
                                    "description": "name"
                                },
                                "value": {
                                    "type": "string",
                                    "description": "value"
                                }
                            }
                        }
                    }
                }
            },
            "google_attribute": {
                "type": "object",
                "properties": {
                    "attribute_id": {
                        "type": "string",
                        "description": "attribute's id"
                    },
                    "value": {
                        "type": "string",
                        "description": "value"
                    }
                }
            },
            "media": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "movie or image"
                    },
                    "filename": {
                        "type": "string",
                        "description": "Image's filename"
                    },
                    "url": {
                        "type": "string",
                        "description": "Media's URL"
                    }
                }
            },
            "opening_time": {
                "type": "object",
                "properties": {
                    "morning_start": {
                        "type": "string",
                        "description": "opening hours in the morning"
                    },
                    "morning_stop": {
                        "type": "string",
                        "description": "closing time in the morning"
                    },
                    "morning_appointment": {
                        "type": "boolean",
                        "description": "open in the morning by appointment only"
                    },
                    "afternoon_start": {
                        "type": "string",
                        "description": "afternoon opening time"
                    },
                    "afternoon_stop": {
                        "type": "string",
                        "description": "closing time in the afternoon"
                    },
                    "afternoon_appointment": {
                        "type": "boolean",
                        "description": "open in the afternoon by appointment only"
                    }
                }
            },
            "partner": {
                "type": "object",
                "properties": {
                    "logo": {
                        "type": "string",
                        "description": "Logo's url on immodvisor.com"
                    },
                    "url": {
                        "type": "string",
                        "description": "Partner's site's logo"
                    }
                }
            },
            "Immodvisor_partner": {
                "type": "string",
                "description": "Company's Immodvisor's partner"
            },
            "service_area": {
                "type": "object",
                "description": "Company's intervention area",
                "properties": {
                    "zip": {
                        "type": "string",
                        "nullable": true,
                        "description": "zipcode"
                    },
                    "city": {
                        "type": "string",
                        "nullable": true,
                        "description": "city"
                    },
                    "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Department's name"
                    },
                    "department": {
                        "type": "string",
                        "nullable": true,
                        "description": "Department's code"
                    },
                    "region": {
                        "type": "string",
                        "nullable": true,
                        "description": "Region's name"
                    }
                }
            },
            "company": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Immodvisor's company's unique identifier"
                    },
                    "custom_id": {
                        "type": "string",
                        "description": "your's unique identifier"
                    },
                    "type": {
                        "type": "string",
                        "description": "brand or company"
                    },
                    "url": {
                        "type": "string",
                        "description": "Company's file absolute url on immodvisor.com"
                    },
                    "enable": {
                        "type": "boolean",
                        "description": "Company enable"
                    },
                    "visible": {
                        "type": "boolean",
                        "description": "If public record is visible"
                    },
                    "name": {
                        "type": "string",
                        "description": "company's name"
                    },
                    "rsac": {
                        "type": "string",
                        "description": "Company's RSAC"
                    },
                    "siret": {
                        "type": "string",
                        "description": "Company's SIRET"
                    },
                    "rating": {
                        "type": "number",
                        "description": "score out of 5, empty if no opinion"
                    },
                    "activities": {
                        "type": "array",
                        "description": "Company's activities list",
                        "items": {
                            "type": "integer",
                            "description": "Business' ID"
                        }
                    },
                    "reviews": {
                        "type": "object",
                        "description": "Company's notices informations",
                        "properties": {
                            "nbr": {
                                "type": "integer",
                                "description": "reviews number"
                            },
                            "recommended": {
                                "type": "integer",
                                "description": "Recommandations' number"
                            }
                        }
                    },
                    "address": {
                        "$ref": "#/components/schemas/address"
                    },
                    "contact": {
                        "$ref": "#/components/schemas/contact"
                    },
                    "widget": {
                        "$ref": "#/components/schemas/widget"
                    },
                    "content": {
                        "type": "string",
                        "description": "Company's description on immodvisor.com (HTML format)"
                    },
                    "presence_management": {
                        "type": "boolean",
                        "description": "Presence management's enable"
                    },
                    "service_area": {
                        "type": "array",
                        "description": "Company's intervention area",
                        "items": {
                            "$ref": "#/components/schemas/service_area"
                        }
                    },
                    "google_description": {
                        "type": "string",
                        "description": "Google My Business' description"
                    },
                    "short_description": {
                        "type": "string",
                        "description": "Presence management's short description"
                    },
                    "long_description": {
                        "type": "string",
                        "description": "Presence management's long description"
                    },
                    "google_attributes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/google_attribute"
                        }
                    },
                    "opening_time": {
                        "type": "object",
                        "description": "Company's opening hours",
                        "properties": {
                            "monday": {
                                "$ref": "#/components/schemas/opening_time"
                            },
                            "tuesday": {
                                "$ref": "#/components/schemas/opening_time"
                            },
                            "wednesday": {
                                "$ref": "#/components/schemas/opening_time"
                            },
                            "thursday": {
                                "$ref": "#/components/schemas/opening_time"
                            },
                            "friday": {
                                "$ref": "#/components/schemas/opening_time"
                            },
                            "saturday": {
                                "$ref": "#/components/schemas/opening_time"
                            },
                            "sunday": {
                                "$ref": "#/components/schemas/opening_time"
                            }
                        }
                    },
                    "services": {
                        "type": "array",
                        "description": "Company's offered services list",
                        "items": {
                            "$ref": "#/components/schemas/service"
                        }
                    },
                    "facebook_page": {
                        "type": "string",
                        "description": "Facebook's url page"
                    },
                    "twitter_page": {
                        "type": "string",
                        "description": "Twitter's url page"
                    },
                    "website": {
                        "type": "string",
                        "description": "Company's website"
                    },
                    "logo": {
                        "type": "string",
                        "description": "URL of the logo on Immodvisor.com"
                    },
                    "color": {
                        "type": "string",
                        "description": "Window's color on immodvisor.com"
                    },
                    "background": {
                        "type": "string",
                        "description": "URL of the background image on Immodvisor.com"
                    },
                    "medias": {
                        "type": "array",
                        "description": "list of media present on the Immodvisor.com showcase and on the portals",
                        "items": {
                            "$ref": "#/components/schemas/media"
                        }
                    },
                    "partners": {
                        "type": "array",
                        "description": "Company's partners list",
                        "items": {
                            "$ref": "#/components/schemas/partner"
                        }
                    },
                    "Immodvisor_partners": {
                        "type": "array",
                        "description": "list of the company's Immodvisor partners",
                        "items": {
                            "$ref": "#/components/schemas/Immodvisor_partner"
                        }
                    },
                    "richsnippet": {
                        "type": "string",
                        "description": "code to be integrated on the company's page"
                    },
                    "rating_google": {
                        "type": "number",
                        "description": "Google's overall rating of the company out of 5 (only for companies with the Gomybusiness product activated)"
                    },
                    "nbr_reviews_google": {
                        "type": "integer",
                        "description": "number of Google reviews (only for companies with the Gomybusiness product activated)"
                    }
                }
            }
        }
    },
    "paths": {
        "/company/get": {
            "get": {
                "summary": "get company's informations",
                "tags": [
                    "company"
                ],
                "description": "Retrieve all company's informations. If neither of the two identifiers is provided, then the company linked to the API key is returned.",
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Immodvisor ID",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "custom_id",
                        "description": "Company's personalized identifier.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "nbr_reviews",
                        "description": "last notices' number to return. Possible values :\n0 : default value, tags nbr_reviews and reviews are not returned.\n-1 : all reviews are sent\n[int] : last reviews sent last number\n",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "checksum",
                        "required": true,
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Request's validity's checksum"
                    },
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company's informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true,
                                            "default": null
                                        },
                                        "datas": {
                                            "type": "object",
                                            "properties": {
                                                "company": {
                                                    "$ref": "#/components/schemas/company"
                                                }
                                            },
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "datas": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode"
                    }
                }
            }
        },
        "/company/list": {
            "get": {
                "summary": "Company's list",
                "tags": [
                    "company"
                ],
                "description": "Retrieve brand's companies informations in addition with brand's informations.\nAlso retrieves the last N reviews for each company\n\n**Note**: {COMPANY} objects in this service do not return richsnippets information.\n\n**Limitation** : only a company of type 'brand' is allowed to call this service.\n",
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "parameters": [
                    {
                        "name": "nbr_reviews",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Last notices' number to return per company.  By default 0, maximum 5. To retrieve previous notices, see the reviewList() service. This parameter adds an array of reviews objects to the return."
                    },
                    {
                        "name": "enable",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "if true returns only active companies, if false returns all companies. True by default."
                    },
                    {
                        "name": "checksum",
                        "required": true,
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Request's validity checksum"
                    },
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company's list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true,
                                            "default": null
                                        },
                                        "datas": {
                                            "type": "object",
                                                "properties": {
                                                    "company": {
                                                        "type": "object",
                                                        "$ref": "#/components/schemas/company"
                                                    },
                                                    "nbr_companies": {
                                                        "type": "integer",
                                                        "description": "Company's children associated with the brand number"
                                                    },
                                                    "companies": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "$ref": "#/components/schemas/company"
                                                        }
                                                    },
                                                    "nbr_reviews": {
                                                        "type": "integer",
                                                        "description": "Number of review returned relating to companies associated with the brand"
                                                    },
                                                    "reviews": {
                                                        "type": "array",
                                                        "description": "Only if nbr_reviews parameter is specify.",
                                                        "items": {
                                                            "type": "object",
                                                            "$ref": "#/components/schemas/review"
                                                        }
                                                    }
                                                },
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "datas": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode"
                    }
                }
            }
        },
        "/company/richsnippets": {
            "get": {
                "summary": "Company's rich snippet code",
                "tags": [
                    "company"
                ],
                "description": "Retrieves the Rich Snippets code to embed directly on the company page of your website. No additional processing is required. Only active companies have Rich Snippets.\n\n**Limitation**: only a 'brand' company is allowed to call this service.\n",
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "parameters": [
                    {
                        "name": "checksum",
                        "required": true,
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Request's validity checksum"
                    },
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company's rich snippet code",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true,
                                            "default": null
                                        },
                                        "datas": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "custom_id": {
                                                    "type": "integer"
                                                },
                                                "richsnippet": {
                                                    "type": "string",
                                                    "description": "code to be integrated on the company's page"
                                                }
                                            }
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "datas": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode"
                    }
                }
            }
        },
        "/company/create": {
            "post": {
                "summary": "Create company",
                "description": "Create a new company of type 'company'.\n\n**Warning**, the specific Google elements, for example :google_attributes, cannot be added when creating the agency via the api. Indeed, a reconciliation with the Google record of the agency must first be done by Immodvisor. To update this type of value, use the updatecompany endpoint. When the value presence_management=1, the reconciliation with the Google record is effective.\n",
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "tags": [
                    "company"
                ],
                "parameters": [
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "custom_id": {
                                        "type": "string",
                                        "description": "your's unique identifier"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "company's name"
                                    },
                                    "short_name": {
                                        "type": "string",
                                        "description": "company's short name, useful in case the name exceeds 50 characters"
                                    },
                                    "rsac": {
                                        "type": "string",
                                        "description": "Company's RSAC"
                                    },
                                    "siret": {
                                        "type": "string",
                                        "description": "Company's SIRET"
                                    },
                                    "enable": {
                                        "type": "boolean",
                                        "description": "company enable"
                                    },
                                    "activities": {
                                        "type": "array",
                                        "description": "Company's activities list",
                                        "items": {
                                            "type": "integer",
                                            "description": "Business' ID"
                                        }
                                    },
                                    "phone": {
                                        "type": "string",
                                        "description": "contact's phone"
                                    },
                                    "fax": {
                                        "type": "string",
                                        "description": "company's fax"
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "contact's email address"
                                    },
                                    "website": {
                                        "type": "string",
                                        "description": "Company's url"
                                    },
                                    "address": {
                                        "type": "string",
                                        "description": "mailing address"
                                    },
                                    "address2": {
                                        "type": "string",
                                        "description": "additional address"
                                    },
                                    "zipcode": {
                                        "type": "string",
                                        "description": "zipcode"
                                    },
                                    "city": {
                                        "type": "string",
                                        "description": "city"
                                    },
                                    "department": {
                                        "type": "string",
                                        "description": "Department's code"
                                    },
                                    "hide_city": {
                                        "type": "boolean",
                                        "description": "if true, the company city will not be visible on immodvisor.com"
                                    },
                                    "hide_address": {
                                        "type": "boolean",
                                        "description": "if true, the company address will not be visible on immodvisor.com"
                                    },
                                    "content": {
                                        "type": "string",
                                        "description": "Company's description on immodvisor.com (HTML format)"
                                    },
                                    "color": {
                                        "type": "string",
                                        "description": "color of the window on Immodvisor.com"
                                    },
                                    "facebook_page": {
                                        "type": "string",
                                        "description": "Facebook's url page"
                                    },
                                    "twitter_page": {
                                        "type": "string",
                                        "description": "Twitter's url page"
                                    },
                                    "opening_time": {
                                        "type": "object",
                                        "description": "Company's opening hours",
                                        "properties": {
                                            "monday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "tuesday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "wednesday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "thursday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "friday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "saturday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "sunday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            }
                                        }
                                    },
                                    "checksum": {
                                        "type": "string",
                                        "description": "Request's validity checksum"
                                    }
                                },
                                "required": [
                                    "name",
                                    "city",
                                    "department",
                                    "checksum"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created company's informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true,
                                            "default": null
                                        },
                                        "datas": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/company",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "datas": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode"
                    }
                }
            }
        },
        "/company/update": {
            "put": {
                "summary": "Update company",
                "description": "Updating a company. \n\n**Note** : To not update a data, just don't send it. To empty a data, you must send an empty or null value. The fields 'name', 'city' and 'department' cannot be emptied, because they are mandatory for the proper functioning of the Immodvisor site.\n\n**Warning**, the treatments linked to presence management are done asynchronously, it is therefore normal not to recover updated data during an update.\n\n**Warning**, for array elements, the whole element must be sent during the update. The elements not sent will be set to null.\n\nAt least one of the two identifiers must be sent.\n",
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "tags": [
                    "company"
                ],
                "parameters": [
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "custom_id": {
                                        "type": "string"
                                    },
                                    "visible": {
                                        "type": "boolean",
                                        "description": "public record visible or not"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "company's name"
                                    },
                                    "short_name": {
                                        "type": "string",
                                        "description": "company's short name, useful in case the name exceeds 50 characters"
                                    },
                                    "rsac": {
                                        "type": "string",
                                        "description": "Company's RSAC"
                                    },
                                    "siret": {
                                        "type": "string",
                                        "description": "Company's SIRET"
                                    },
                                    "enable": {
                                        "type": "boolean",
                                        "description": "Company enable"
                                    },
                                    "activities": {
                                        "type": "array",
                                        "description": "Company's activities list",
                                        "items": {
                                            "type": "integer",
                                            "description": "Business' ID"
                                        }
                                    },
                                    "phone": {
                                        "type": "string",
                                        "description": "contact's phone"
                                    },
                                    "fax": {
                                        "type": "string",
                                        "description": "company's fax"
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "contact's email address"
                                    },
                                    "website": {
                                        "type": "string",
                                        "description": "Company's url"
                                    },
                                    "address": {
                                        "type": "string",
                                        "description": "mailing address"
                                    },
                                    "address2": {
                                        "type": "string",
                                        "description": "additional address"
                                    },
                                    "zipcode": {
                                        "type": "string",
                                        "description": "zipcode"
                                    },
                                    "city": {
                                        "type": "string",
                                        "description": "city"
                                    },
                                    "department": {
                                        "type": "string",
                                        "description": "Department's code."
                                    },
                                    "hide_city": {
                                        "type": "boolean",
                                        "description": "if true, the company city will not be visible on immodvisor.com"
                                    },
                                    "hide_address": {
                                        "type": "boolean",
                                        "description": "if true, the company address will not be visible on immodvisor.com"
                                    },
                                    "content": {
                                        "type": "string",
                                        "description": "Company's description on immodvisor.com (HTML format)"
                                    },
                                    "color": {
                                        "type": "string",
                                        "description": "color of the window on Immodvisor.com"
                                    },
                                    "facebook_page": {
                                        "type": "string",
                                        "description": "Facebook's url page"
                                    },
                                    "twitter_page": {
                                        "type": "string",
                                        "description": "Twitter's url page"
                                    },
                                    "opening_time": {
                                        "type": "object",
                                        "description": "Company's opening hours",
                                        "properties": {
                                            "monday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "tuesday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "wednesday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "thursday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "friday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "saturday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            },
                                            "sunday": {
                                                "$ref": "#/components/schemas/opening_time"
                                            }
                                        }
                                    },
                                    "service_area": {
                                        "type": "array",
                                        "description": "Company's intervention area",
                                        "items": {
                                            "$ref": "#/components/schemas/service_area"
                                        }
                                    },
                                    "google_description": {
                                        "type": "string",
                                        "description": "Google My Business' description"
                                    },
                                    "short_description": {
                                        "type": "string",
                                        "description": "Presence management's short description"
                                    },
                                    "long_description": {
                                        "type": "string",
                                        "description": "Presence management's long description"
                                    },
                                    "checksum": {
                                        "type": "string",
                                        "description": "Request's validity checksum"
                                    }
                                },
                                "required": [
                                    "checksum"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created company's informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true,
                                            "default": null
                                        },
                                        "datas": {
                                            "type": "object",
                                            "$ref": "#/components/schemas/company",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "datas": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode"
                    }
                }
            }
        },
        "/company/add-service": {
            "post": {
                "summary": "add service to company",
                "description": "Adds an activity/service to your company.\n\n**Note** : this endpoint is only valid for companies of type 'company'. You can find possible services' list by querying the activity endpoint. It is recommended to define 3 or 4.\n",
                "tags": [
                    "company"
                ],
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "parameters": [
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "description": "unique Immodvisor company ID to update (company or brand). optional if custom_id present."
                                    },
                                    "custom_id": {
                                        "type": "string",
                                        "description": "Your unique company's identifier to update (company or brand). Optional if id present."
                                    },
                                    "service_id": {
                                        "type": "integer",
                                        "description": "Service's identifier to be added"
                                    },
                                    "checksum": {
                                        "type": "string",
                                        "description": "Request's validity checksum"
                                    }
                                },
                                "required": [
                                    "service_id",
                                    "checksum"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true,
                                            "default": null
                                        },
                                        "datas": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "datas": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode"
                    }
                }
            }
        },
        "/company/delete-service": {
            "delete": {
                "summary": "delete service from company",
                "description": "Delete an activity/service from your company.\n\n**Note** : this endpoint is only valid for companies of type 'company'.\n",
                "tags": [
                    "company"
                ],
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "unique Immodvisor company ID to update (company or brand). optional if custom_id present.",
                        "in": "query"
                    },
                    {
                        "name": "custom_id",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Your unique company's identifier to update (company or brand). Optional if id present.",
                        "in": "query"
                    },
                    {
                        "name": "service_id",
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Service's identifier to be added",
                        "required": true,
                        "in": "query"
                    },
                    {
                        "name": "checksum",
                        "required": true,
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Request's validity's checksum"
                    },
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true,
                                            "default": null
                                        },
                                        "datas": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "error": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "datas": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "checksum": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Maintenance mode"
                    }
                }
            }
        },
        "/company/add-partner": {
            "post": {
                "summary": "add partner to company",
                "description": "Add a partner to the company's web page.\n\n**Note: this endpoint is only valid for companies of type 'company'.\n",
                "security": [
                    {
                        "apikey": []
                    }
                ],
                "tags": [
                    "company"
                ],
                "parameters": [
                    {
                        "name": "APIVERSION",
                        "in": "header",
                        "required": true,
                        "description": "API's Used version.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "description": "unique Immodvisor company ID to update (company or brand). optional if custom_id present."
[...]
